@import "nullstyle.css";

:root {
    --color-green-1: #8dc63f;
    --color-green-2: #77a836;
    --color-green-3: #6a522d;
    --default-transition: all .3s ease 0s;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ---------------------------------------- BURGER ---------------------------------------- */

.header__burger {
    display: none;
}

/* ---------------------------------------- HEADER ---------------------------------------- */

.header {
    padding: 23px 0 37px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    position: relative;
    z-index: 3;
    margin: 0 30px 0 0;
}

.header__logo img {
    max-width: 287px;
}

.menu__list {
    display: flex;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
}

.menu__item {
    line-height: 1.3;
}

.menu__item:not(:last-child) {
    margin: 0 20px 0 0;
}

.menu__link {
    font-size: 16px;
    color: #000;
    transition: var(--default-transition);
}

.menu__link:hover {
    color: var(--color-green-2);
}

.menu__link.active {
    color: var(--color-green-1);
}

/* ---------------------------------------- MAIN ---------------------------------------- */

.page {
    flex: 1 1 auto;
    padding: 120px 0 0 0;
}

/* ---------------------------------------- BANNER ---------------------------------------- */

.banner__info {
    position: relative;
}

.banner__text {
    position: absolute;
    top: 130px;
    right: 0;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    font-size: calc(40px + (50 - 40) * (100vw / 1920));
    max-width: 570px;
    text-align: center;
    margin: 0 0 30px 0;
}

.banner__btn {
    font-family: 'Roboto', sans-serif;
    font-size: calc(24px + (36 - 24) * (100vw / 1920));
    padding: 20px 32px;
    background-color: var(--color-green-1);
    border-radius: 10px;
    color: inherit;
    transition: var(--default-transition);
}

.banner__btn:hover {
    background-color: var(--color-green-2);
}

.banner__image {
    height: 517px;
}

/* ---------------------------------------- FEATURES ---------------------------------------- */

.features {
    padding: 60px 0 80px 0;
}

.features__body {
    padding: 0 32px 0 44px;
    display: flex;
    column-gap: 40px;
    max-width: 1224px;
    margin: 0 auto;
}

.features__item {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
}

.features__item img {
    margin: 0 16px 0 0;
}

.features__text {
    font-size: 13px;
    color: var(--color-green-3);
    line-height: 1.3;
}

/* ---------------------------------------- ARTICLE ---------------------------------------- */

.article {
    padding: 0 0 25px 0;
}

.article__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.article__block_left, .article__block_right {
    display: flex;
    column-gap: 30px;
}

.article__block_column {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
}

.article__block_right {
    flex-direction: row-reverse;
}

.article__image_side {
    flex: 0 1 50%;
    height: 314px;
    overflow: hidden;
}

.article__image_side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article__image_column {
    position: relative;
    padding: 0 0 58% 0;
    overflow: hidden;
}

.article__image_column img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__text {
    font-size: calc(16px + (22 - 16) * (100vw / 1920));
    flex: 0 1 50%;
    line-height: 1.2;
}

/* ---------------------------------------- FOOTER ---------------------------------------- */

.footer {
    padding: 35px 0 20px 0;
    background-color: #888;
}

.footer__menu {
    margin: 0 0 40px 0;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    line-height: 1.3;
}

.footer__item:not(:last-child) {
    margin: 0 20px 0 0;
}

.footer__link {
    color: #fff;
    font-size: 16px;
    transition: var(--default-transition);
}

.footer__link:hover {
    color: var(--color-green-2);
}

.footer__link.active {
    color: var(--color-green-1);
}

.footer__copyright {
    font-size: 17px;
    color: #fff;
    line-height: 1.3;
}

/* ---------------------------------------- @MEDIA ---------------------------------------- */

@media (max-width: 1100px) {
    .features__body {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
    }

    .features__item {
        flex: 0 1 70%;
    }
}

@media (max-width: 1064px) {
    .banner__text {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        padding: 15px 0;
    }

    .header__logo img {
        max-width: 220px;
    }

    .header__burger {
        display: block;
        position: relative;
        z-index: 3;
        width: 30px;
        height: 20px;
    }

    .header__burger span {
        position: absolute;
        left: 0;
        top: 9px;
        background-color: #383b40;
        width: 100%;
        height: 2px;
        transition: var(--default-transition);
    }

    .header__burger::before, .header__burger::after {
        content: '';
        background-color: #383b40;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: var(--default-transition);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(141, 198, 63, 0.95);
        padding: 100px 0 0 0;
        transition: var(--default-transition);
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
    }

    .menu__list {
        display: block;
        padding: 0 0 15px 15px;
    }

    .menu__item:not(:last-child) {
        margin: 0 0 20px 0;
    }

    .menu__link {
        font-size: 26px;
        color: #383b40;
    }

    .menu__link.active {
        color: #fff;
    }

    .page {
        padding: 76px 0 0 0;
    }

    .banner__title {
        font-size: calc(40px + (50 - 40 + (50 - 40) * 0.7) * ((100vw - 320px) / 1920));
    }

    .banner__btn {
        font-size: calc(24px + (36 - 24 + (36 - 24) * 0.7) * ((100vw - 320px) / 1920));
    }

    .features__item {
        flex: 0 1 100%;
    }

    .article__text {
        font-size: calc(16px + (22 - 16 + (22 - 16) * 0.7) * ((100vw - 320px) / 1920));
    }
}

@media (max-width: 630px) {
    .article__block_left, .article__block_right {
        flex-direction: column;
        row-gap: 30px;
    }

    .article__image_side {
        flex: 0 1 auto;
        height: auto;
        position: relative;
        padding: 0 0 58% 0;
    }

    .article__image_side img {
        object-position: 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .article__block_column {
        flex-direction: column;
    }
}

@media (max-width: 445px) {
    .features__item {
        flex-direction: column;
        row-gap: 40px;
    }

    .features__text {
        text-align: center;
    }
}